<div class="row">

  <div class="col-lg-2">
    <img src="../../assets/images/angular.png" alt="company-logo" style="height: 50px;">
  </div>


  <div class="col-lg-8">
    <input type="text" style="width: 90%">
    <a href="#">
      <i class="fa fa-search"></i>
    </a>
  </div>


  <div class="col-2">

    <button class="btn btn-primary">Login
      <i class="fa fa-user"></i>
    </button>

    <a href="#">
      <i class="fa fa-shopping-cart"></i>
      <span>Cart</span>
    </a>


  </div>
</div>
