<div class="row">
  <div class="col-lg-6">
    <ul class="row">
      <li class="col-lg-3">
        <h4>ABOUT</h4>
        <ul>
          <li>Contact Us</li>
          <li>About Us</li>
          <li>Careers</li>
          <li>Flipkart Stories</li>
          <li>Press</li>
        </ul>
      </li>
      <li class="col-lg-3">
        <h4>HELP</h4>
        <ul>
          <li>Payments</li>
          <li>Shipping</li>
          <li>Cancellation & Returns</li>
          <li>FAQ</li>
          <li>Report Infringement</li>
        </ul>
      </li>
      <li class="col-lg-3">
        <h4>POLICY</h4>
        <ul>
          <li>Return Policy</li>
          <li>Terms Of Use</li>
          <li>Security</li>
          <li>Privacy</li>
          <li>Sitemap</li>
          <li>EPR Compliance</li>
        </ul>
      </li>
      <li class="col-lg-3">
        <h4>SOCIAL</h4>
        <ul>
          <li>Facebook</li>
          <li>Twitter</li>
          <li>YouTube</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="col-lg-6">
    <ul class="row">
      <li class="col-lg-6">
        <h4>Mail Us:</h4>
        <p>Flipkart Internet Private Limited,
          Buildings Alyssa, Begonia &
          Clove Embassy Tech Village,
          Outer Ring Road, Devarabeesanahalli Village,
          Bengaluru, 560103,
          Karnataka, India</p>
      </li>
      <li class="col-lg-6">
        <h4>Registered Office Address:</h4>
        <p>Flipkart Internet Private Limited,
          Buildings Alyssa, Begonia &
          Clove Embassy Tech Village,
          Outer Ring Road, Devarabeesanahalli Village,
          Bengaluru, 560103,
          Karnataka, India
          CIN : U51109KA2012PTC066107
          Telephone: 1800 208 9898</p>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-lg-1"></div>
  <div class="col-lg-1">Sell on Flipkart</div>
  <div class="col-lg-1">Advertise</div>
  <div class="col-lg-1">Gift Cards</div>
  <div class="col-lg-1">Help Center</div>
  <div class="col-lg-3">© 2007-2020 Flipkart.com</div>
  <div class="col-lg-4">cards</div>
</div>
